body {
    margin: 0;
    font-size: 2rem;
}

.container {
    max-width: 560px;
    margin: 0 auto;
    padding: 10px;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.input-div label {
    display: block;
    margin-bottom: 10px;
}

.input-div input {
    width: 100%;
    box-sizing: border-box;
    font-size: 2rem;
    border-radius: 7px;
    padding: 10px;
}

.input-div button{
    font-size: 2rem;
    width: 50%;
    display: block;
    margin: 0 auto;
    background-color: darkslateblue;
    color: white;
    padding: 10px;
    border-radius: 50px;
}

.input-div {
    margin-bottom: 20px;
}